nvidia-cudnn-cu11==8.6.0.163 
tensorflow==2.13.*
jupyterlab>=2.0.0
numpy>=1.18.1
bokeh>=2.0.0
dask
dask-labextension
nodejs
distributed
dask-jobqueue
notebook
ipywidgets>=7.5
uproot
aghast
boost-histogram
mplhep
packaging
pandas
tables
keras
keras-tuner
bayesian-optimization
pydot
seaborn
